{
  "semi": false,
  "useTabs": false,
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSameLine": false,
  "svelteStrictMode": false,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-svelte"],
  "svelteSortOrder": "scripts-markup-options-styles",
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
