:root {
  --dark-color: #fff;
  --dark-color-gray: #8193b2;
  --dark-bg-color: #040d21;
  --dark-bg-card-color: #0c162d;
  --dark-bg-pale-color: #091a29;

  --backstage-header-h: 7rem;
  --backstage-sidebar-w: 20rem;
}
