@import 'tailwindcss';
@import 'base.css';


body {
  color: var(--dark-color);
  background-color: var(--dark-bg-color);
  letter-spacing: 0.02em;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

/* 滚动条样式 */
.simplebar-scrollbar {
  transition: height 1s;
  width: 6px;
  margin: 0 auto;
  background-color: #303D53;
  border-radius: 12px;
  &:before{
    display: none;
  }
}

.card {
  background-color: var(--dark-bg-card-color);
  border: 1px solid #202637;
  border-radius: 12px;
}

.link {
  &:hover {
    color: var(--color-blue-500);
    text-decoration-line: underline;
    text-underline-offset: 2px;
  }
}

.bg-pale-color {
  background-color: var(--dark-bg-pale-color);
}
.text-color-gray {
  color: var(--dark-color-gray);
}
.stroke-color-gray {
  stroke: var(--dark-color-gray);
}
