.main-container {
  .sidebar-container {
    background-color: #fff;
    z-index: 10;
    width: $sidebarOpenWidth;
    border-right: 1px solid $borderGray;
    transition: all 0.5s ease-in-out;
    overflow-x: hidden;

    .aside-logo {
      width: 100%;
      height: $headerHeight;
      border-bottom: 1px solid $borderGray;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 3rem;
        height: 3rem;
        transition: all 0.5s ease-in-out;
      }

      span {
        font-weight: 600;
        margin-left: 1rem;
        white-space: nowrap;
      }
    }

    .el-scrollbar {
      height: calc(100vh - $headerHeight - 1px);

      .el-menu-vertical {
        width: 100%;
        border-right: none;
      }
    }

    &.draw-back-sidebar {
      width: $sidebarDrawWidth;

      .aside-logo {

        img {
          width: 2.5rem;
          height: 2.5rem;
        }

        span {
          overflow: hidden;
          animation-name: logoSpanZoom;
          animation-duration: 0.5s;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards;
        }
      }
    }

    &.hidden-sidebar {
      width: $sidebarHiddenWidth;

      .aside-logo {

          img {
            width: 0rem;
            height: 0rem;
            transition: all 1.5s ease-in-out;
          }

          span {
            display: none;
          }
        }
    }
  }
}

@keyframes logoSpanZoom {
  0% {
    width: 4.625rem;
  }

  50% {
    width: 2.3125rem;
    margin-left: 1rem;
  }

  100% {
    width: 0;
    margin-left: 0;
    display: none;
  }
}

.main-container.mobile {
  .sidebar-container {
    position: fixed;
  }

  .sidebar-shade {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #666;
    opacity: 0.6;
    z-index: 10;
    transition: all 0.5s ease-in-out;

    &.open-sidebar {
      margin-left: $sidebarOpenWidth;
    }

    &.draw-back-sidebar {
      margin-left: $sidebarDrawWidth;
    }

    &.hidden-sidebar {
      width: 0;
      margin-left: $sidebarHiddenWidth;
    }
  }
}

