$grayColor: #909399;
$linkColor: #409eff;
$borderGray: #DDD;

$sidebarWidth: 15rem;
$headerHeight: 3.75rem;

:export {
  grayColor: $grayColor;
  linkColor: $linkColor;
  borderGray: $borderGray;

  sidebarWidth: $sidebarWidth;
  headerHeight: $headerHeight;
}
