$grayColor: #909399;
$linkColor: #409eff;
$borderGray: #DDD;

$sidebarOpenWidth: 15rem;
$sidebarDrawWidth: 4rem;
$sidebarHiddenWidth: 0;
$headerHeight: 3.75rem;

:export {
  grayColor: $grayColor;
  linkColor: $linkColor;
  borderGray: $borderGray;

  sidebarOpenWidth: $sidebarOpenWidth;
  sidebarDrawWidth: $sidebarDrawWidth;
  sidebarHiddenWidth: $sidebarHiddenWidth;
  headerHeight: $headerHeight;
}
